@import "reset.css";

* {
  text-decoration-line: none;
}

/* 네비게이션 바 */

.navbar {
  height: 120px;
  /* background-color: #8e8e8e; */
  position: sticky;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}

.navbarContainer {
  display: flex;
  width: 66.6%;
  /* background-color:aquamarine; */
  justify-content: space-between;
  align-items: center;
}

.navbarLeftContainer {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarMenu {
  display: flex;
  align-items: center;
}

.navbarMenuItem {
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 22px;
  padding-right: 22px;
}

.navbarRightContainer {
  display: flex;
  /* background-color: antiquewhite; */
  justify-content: space-between;
  align-items: center;
}

.navbarSearch {
  display: flex;
  padding-right: 70px;
}

.navbarSearchBox {
  display: flex;
  width: 411px;
  height: 58px;
  background-color: #eeeeee;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

.navbarSearchBox input {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 24px;
  border: 0;
  outline: none;
  background-color: #eeeeee;
}

.navbarSearchBox button {
  border: none;
  padding-right: 17px;
}

.navbarIcons {
  display: flex;
}

.navbarBellIcon,
.navbarMypageIcon {
  padding-left: 20px;
  padding-right: 20px;
}

.navbarLogo {
  text-align: center;
  width: 270px;
  height: 47px;
  line-height: 47px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  padding-left: 20px;
  padding-right: 40px;
}

/* 타이틀 로고 */

.title {
  width: 100%;
  text-align: center;
  margin-top: 70px;
}

.titleLogoLeft {
  color: #68c9d1;
  font-weight: bold;
  font-size: 40px;
}

.titleLogoRight {
  color: black;
  font-weight: bold;
  font-size: 40px;
}

/* 회원가입,로그인 창 */

.signUpErrorMessage {
  text-align: center;
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 100px;
}

.signUpTitle,
.loginTitle {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.signUpNameInputTitle,
.signUpIdInputTitle,
.signUpPasswordInputTitle,
.loginIdInputTitle,
.loginPasswordInputTitle {
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #8e8e8e;

  width: 420px;
  display: block;
  margin: auto;
  padding-top: 20px;
}

.signUpNameInput,
.signUpIdInput,
.signUpPasswordInput,
.loginIdInput,
.loginPasswordInput {
  flex-direction: row;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 12px;
  padding-left: 24px;
  width: 400px;
  height: 60px;
  line-height: 60px;
  background-color: #eeeeee;
  border-radius: 5px;
}

#signUpInputName,
#signUpInputId,
#signUpInputPassword,
#loginInputId,
#loginInputPassword {
  width: 90%;
  border: none;
  background-color: #eeeeee;
  appearance: none;
  text-decoration: none;
  outline: 0;
  color: #8e8e8e;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Noto Sans KR";
}

.signUpSubmitBtn {
  margin: 0 auto;
  margin-top: 64px;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #68c9d1;
  /* background-color: #8e8e8e; */
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#signUpSubmitBtn {
  border: none;
  background-color: #68c9d1;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  font-family: "Noto Sans KR";
  cursor: pointer;
}

.loginSubmitBtn {
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #68c9d1;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
}

#loginSubmitBtn {
  border: none;
  background-color: #68c9d1;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  font-family: "Noto Sans KR";
  cursor: pointer;
}

.loginAskMember {
  margin-top: 80px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8e8e8e;
}

.loginSignUpBtn {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #68c9d1;
}

/* 메인 페이지(랭킹) */

.totalPage {
  position: relative;
}

.Page {
  margin: 30px 380px 0 380px;
}

.rank {
  padding-top: 56px;
  /* background-color: #33c207; */
}

.rankSecond {
  padding-top: 56px;
  margin-bottom: 70px;
}

.rankContainer {
  display: flex;
  /* margin-top: 56px; */
  align-items: center;
  /* background-color: #68c9d1; */
}

.rankTitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  margin-left: 16px;
  margin-right: 23px;
  /* background-color: #ed7dc8; */
}

.rankSubTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8e8e8e;
  /* background-color: #d9d9d9; */
}

.rankBoxContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.rankBoxContainerBoard {
  margin-top: 40px;
}

/* 대여물품 박스 */

.productBoxStudent {
  flex: 1 1 25%;
  margin-top: 30px;
}

.productBoxImg {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.productBoxAllImg {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.productBoxImage {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.productBoxRankNumber {
  position: absolute;
  margin: 10px 0 0 10px;
  width: 50px;
  height: 50px;
  background-color: #68c9d1;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}

.productBoxTitle {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.productBoxPrice {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

/* 게시물 박스 */
.articleBoxContainer {
  margin: 20px 0 30px 0;
  width: 100%;
  height: 120px;
  border-radius: 15px;
  background-color: #eeeeee;
}

.articleBox {
  margin-left: 30px;
  width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
}

.articleBoxNumber {
  width: 50px;
  height: 50px;
  background-color: #68c9d1;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}

.articleBoxProfile {
  margin-left: 50px;
}

.articleBoxProfileImage {
  margin-left: 30px;
  width: 60px;
  height: 60px;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.articleBoxProfileImg {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.articleBoxProfileImg {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.articleBoxProfileName {
  font-size: 18px;
  font-weight: bold;
}

.articleBoxProfileGrade {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.articleBoxContent {
  margin-left: 50px;
}

.articleBoxContentTitle {
  font-size: 18px;
  font-weight: bold;
}

.articleBoxContentMiniTitle {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

/* 대여하기 창 */

.rentProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.rentTitle {
  margin-top: 80px;
}

.rentSchoolStudentClicked {
  font-size: 40px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.rentSchoolStudentNotClicked {
  font-size: 20px;
  font-weight: 400;
  color: #8e8e8e;
  cursor: pointer;
}

.rentStudentStudentClicked {
  margin-left: 20px;
  font-size: 40px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.rentStudentStudentNotClicked {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #8e8e8e;
  cursor: pointer;
}

.rentProductTitle {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.rentContainer {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.rentProductTitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  margin-left: 16px;
  margin-right: 23px;
}

.rentPostBtn {
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: 0px;
  position: fixed;
  width: 90px;
  height: 90px;
  margin: 0 50px 50px 0;
  background-color: #68c9d1;
  border-radius: 50px;
  text-align: center;
  line-height: 80px;
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
  box-shadow: 5px 5px 5px #d9d9d9;
}

/* 게시판 창 */

.boardTitleContainer {
  margin-top: 80px;
}

.boardTitle {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.boardTitleNextSentence {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #8e8e8e;
}

.boardContainer {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.boardProductTitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  margin-left: 16px;
  margin-right: 23px;
}

.boardArticleContainer {
  margin-top: 30px;
  margin-bottom: 70px;
}

.boardPostBtn {
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: 0px;
  position: fixed;
  width: 90px;
  height: 90px;
  margin: 0 50px 50px 0;
  background-color: #68c9d1;
  border-radius: 50px;
  text-align: center;
  line-height: 80px;
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
  box-shadow: 5px 5px 5px #d9d9d9;
}

/* 제품 상세 창 */
.productContainer {
  margin-top: 100px;
  display: flex;
}

.productImage {
  width: 650px;
  height: 500px;
  border-radius: 10px;
  background-color: #eeeeee;
}

.productImg {
  width: 650px;
  height: 500px;
  border-radius: 10px;
}

.productDetail {
  width: 650px;
  height: 500px;
  margin-left: 50px;
}

.productUserContainer {
  display: flex;
}

.productUserProfile {
  display: flex;
}

.productUserProfileImage {
  width: 70px;
  height: 70px;
  background-color: #eeeeee;
  border-radius: 50px;
}

.productUserProfileImg {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.productUserProfileDetail {
  margin-left: 20px;
  height: 70px;
  line-height: 35px;
}

.productUserProfileDetailName {
  font-size: 20px;
  font-weight: bold;
}

.productUserProfileDetailComment {
  font-size: 15px;
  font-weight: 400;
}

.productUserChatBtn {
  cursor: pointer;
  margin-left: auto;
  margin-top: 5px;
  width: 120px;
  height: 60px;
  background-color: #68c9d1;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.productSidebar {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.productTitle {
  margin-top: 50px;
  font-size: 35px;
  font-weight: bold;
}

.productPrice {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.productComment {
  margin-top: 40px;
  font-size: 20px;
}

.productBtn {
  display: flex;
  margin-top: 160px;
}

.productLikeBtn {
  cursor: pointer;
  width: 150px;
  height: 60px;
  background-color: #e1605c;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  color: white;
}

.productLikeNum {
  margin-left: 10px;
}

.productPurchaseBtn {
  cursor: pointer;
  margin-left: 20px;
  width: 150px;
  height: 60px;
  background-color: #68c9d1;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  color: white;
}

.productReviewContainer {
  margin-top: 50px;
}

.productReviewTitle {
  font-size: 30px;
  font-weight: bold;
}

.productReviewNum {
  font-size: 20px;
  color: #8e8e8e;
  margin-left: 10px;
}

#productReviewInput {
  width: 90%;
  border: none;
  background-color: white;
  appearance: none;
  text-decoration: none;
  outline: 0;
  color: #8e8e8e;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-family: "Noto Sans KR";
}

.productReviewInput {
  margin-top: 30px;
  margin-bottom: 12px;
  padding-left: 24px;
  width: 96%;
  height: 180px;
  line-height: 60px;
  background-color: white;
  border: 15px solid #eeeeee;
  border-radius: 10px;
}

.productReviewBtnContainer {
  display: flex;
}

.productReviewBtn {
  cursor: pointer;
  margin-left: auto;
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #68c9d1;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

#productReviewBtn {
  cursor: pointer;
  border: none;
  background-color: #68c9d1;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  font-family: "Noto Sans KR";
  cursor: pointer;
}

.reviewContainer {
  display: flex;
  margin-top: 30px;
}

.reviewUserProfile {
  display: flex;
}

.reviewUserProfileImage {
  width: 70px;
  height: 70px;
  background-color: #eeeeee;
  border-radius: 50px;
}

.reviewUserProfileImg {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.reviewUserProfileDetail {
  margin-left: 20px;
  height: 70px;
  line-height: 35px;
}

.reviewUserProfileDetailName {
  font-size: 20px;
  font-weight: bold;
}

.reviewUserProfileDetailComment {
  font-size: 15px;
  font-weight: 400;
}

.reviewSidebar {
  margin-left: 50px;
  width: 2px;
  height: 70x;
  background-color: #d9d9d9;
}

.review {
  margin-left: 40px;
  font-size: 18px;
  height: 70px;
  line-height: 70px;
}

.productReviewContainer {
  margin-bottom: 70px;
}

/* 상품 등록 창 */

.productEnrollInformation {
  margin-top: 20px;
  margin-left: 120px;
}

.productEnrollInformationTitle {
  font-size: 30px;
  font-weight: bold;
}

.productEnrollInformationText {
  font-size: 20px;
  margin-top: 20px;
}

.productEnrollTitle {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-top: 80px;
}

.productEnrollMiniTitle {
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.productEnrollSidebar {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.productEnrollImageContatiner {
  display: flex;
}

.productEnrollImageTitle {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.productEnrollImageInput {
  margin-top: 20px;
  margin-left: 70px;
  width: 300px;
  height: 300px;
  background-color: #eeeeee;
}
.productEnrollImgInput {
  width: 300px;
  height: 300px;
}

.productEnrollImageInputText {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #8e8e8e;
}

.productEnrollImageIcon {
  text-align: center;
  margin-top: 100px;
}

.productEnrollNameContainer {
  display: flex;
}

.productEnrollNameTitle {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.productEnrollNameInput {
  margin-top: 20px;
  margin-left: 90px;
}

#productEnrollNameInput {
  font-size: 20px;
  font-family: "Noto Sans KR";
  height: 40px;
  width: 400px;
}

.productEnrollPriceContainer {
  display: flex;
}

.productEnrollPriceTitle {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.productEnrollPriceInput {
  margin-top: 20px;
  margin-left: 140px;
  margin-right: 20px;
}

#productEnrollPriceInput {
  font-size: 20px;
  font-family: "Noto Sans KR";
  height: 40px;
  width: 300px;
}

.productEnrollDetailContainer {
  display: flex;
}

.productEnrollDetailTitle {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.productEnrollDetailInput {
  margin-top: 20px;
  margin-left: 140px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.productEnrollDetailInputText {
  margin-bottom: 20px;
}

#productEnrollDetailInput {
  font-size: 20px;
  font-family: "Noto Sans KR";
  height: 200px;
  width: 1000px;
}

.productEnrollBtnContainer {
  display: flex;
  margin-top: 20px;
}

.productEnrollBtn {
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 50px;
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #68c9d1;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

#productEnrollBtn {
  cursor: pointer;
  border: none;
  background-color: #68c9d1;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  font-family: "Noto Sans KR";
  cursor: pointer;
}

/* 게시물 상세 페이지 창 */

.articleUserContainer {
  display: flex;
  margin-top: 80px;
}

.articleUserProfile {
  display: flex;
}

.articleUserProfileImage {
  width: 70px;
  height: 70px;
  background-color: #eeeeee;
  border-radius: 50px;
}

.articleUserProfileDetail {
  margin-left: 20px;
  height: 70px;
  line-height: 35px;
}

.articleUserProfileDetailName {
  font-size: 20px;
  font-weight: bold;
}

.articleUserProfileDetailComment {
  font-size: 15px;
  font-weight: 400;
}

.articleUserBtn {
  display: flex;
  margin-left: auto;
}

.articleUserChatBtn {
  cursor: pointer;
  margin-top: 5px;
  width: 120px;
  height: 60px;
  background-color: #68c9d1;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.articleUserReportBtn {
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  width: 120px;
  height: 60px;
  background-color: #e1605c;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.articleSidebar {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.articleContentTitleContainer {
  display: flex;
  margin-top: 50px;
}

.articleContentTitle {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.articleContentTitleBtn {
  margin-left: auto;
  display: flex;
}

.articleContentTitleLikeBtn {
  cursor: pointer;
  width: 150px;
  height: 60px;
  background-color: #e1605c;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.articleContentTitleHateBtn {
  cursor: pointer;
  margin-left: 10px;
  width: 150px;
  height: 60px;
  background-color: #5c79e1;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.articleNum {
  margin-left: 10px;
}

.articleContent {
  height: 300px;
  font-size: 20px;
  margin-top: 50px;
}

/* 게시물 등록 창 */

.articleEnrollTitle {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-top: 80px;
}

.articleEnrollMiniTitle {
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.articleEnrollSidebar {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}

.articleEnrollNameContainer {
  display: flex;
}

.articleEnrollNameTitle {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.articleEnrollNameInput {
  margin-top: 20px;
  margin-left: 140px;
  margin-right: 20px;
}

#articleEnrollNameInput {
  font-size: 20px;
  font-family: "Noto Sans KR";
  height: 40px;
  width: 300px;
}

.articleEnrollDetailContainer {
  display: flex;
}

.articleEnrollDetailTitle {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.articleEnrollDetailInput {
  margin-top: 20px;
  margin-left: 140px;
  margin-right: 20px;
}

#articleEnrollDetailInput {
  font-size: 20px;
  font-family: "Noto Sans KR";
  height: 200px;
  width: 1000px;
}

.articleEnrollBtnContainer {
  display: flex;
  margin-top: 20px;
}

.articleEnrollBtn {
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 50px;
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #68c9d1;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

#articleEnrollBtn {
  cursor: pointer;
  border: none;
  background-color: #68c9d1;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  font-family: "Noto Sans KR";
  cursor: pointer;
}

/* 회원가입시 나타나는 모달 창 */
.modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.modalWrap {
  width: 500px;
  height: fit-content;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContents {
  margin: 50px 30px;
}

.modalContentsLogo {
  text-align: center;
  margin-bottom: 20px;
}

.modalContentsLogoLeft {
  font-size: 35px;
  color: #68c9d1;
  font-weight: bold;
}

.modalContentsLogoRight {
  font-size: 35px;
  color: black;
  font-weight: bold;
}

.modalContentsTitle {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modalContentsText {
  margin-bottom: 30px;
  width: 430px;
  height: 300px;
  font-size: 20px;
  font-family: "Noto Sans KR";
}

.modalContentsTexts {
  margin-bottom: 70px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.modalContentsDateText {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.modalContentsDate {
  text-align: center;
  margin-bottom: 50px;
}

#modalContentsDate {
  font-size: 20px;
  font-weight: bold;
}

.modalButton {
  margin: 0 auto;
  width: 150px;
  height: 55px;
  line-height: 55px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  background-color: #68c9d1;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* 마이 페이지 */
.myPage {
  width: 66.6%;
  margin: 0 auto;
  padding-top: 43px;

  display: flex;
  justify-content: space-between;
}

.myPageRight {
  width: 76.48%;
  margin-top: 47px;
}

.myPageProfile {
  height: 250px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  background: #eeeeee;
  border-radius: 20px;
}

.myPageProfileModify {
  height: 250px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  background: #eeeeee;
  border-radius: 20px;
}

.myPageListContainer {
  display: flex;
  flex-direction: column;

  height: 709px;
  width: 217px;

  border-radius: 10px;
  background: #fefefe;
  border: 2px solid #eeeeee;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
  justify-content: space-between;
  align-items: center;
}

.myPageListContainerTop {
  height: 47.954%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myPageListContainerBottom {
  margin-bottom: 27px;
  margin-left: 17px;
  margin-right: 17px;
}

.myPageListContainerTitle {
  width: 152px;
  height: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;

  color: #68c9d1;

  padding-top: 35px;
  padding-left: 30px;
  padding-right: 35px;
}

.myPageListItems {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding-left: 30px;
  cursor: pointer;
}

.myPageListClicked {
  color: #68c9d1;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
}

.myPageListItemsContainer {
  display: flex;
}

.myPageListItemCircle {
  visibility: hidden;
}

.myPageListCircleClicked {
  visibility: visible;
}

.myPageLogoutBnt {
  width: 196px;
  height: 52px;
  background: #eeeeee;
  border-radius: 10px;
  border: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #777777;

  padding-left: 29.3px;
}

.myPageRight {
  display: flex;
}

.myPageRightImgBox {
  flex-basis: 25%;
  justify-content: center;
  text-align: center;
}

.myPageRightImg {
  height: 138px;
  width: 138px;
  border-radius: 50%;
  background: #d9d9d9;
  border: 4px solid #fefefe;

  margin: 0 auto;
  margin-top: 34px;
}

.myPageRightProfile {
  flex-basis: 55%;
  margin-top: 34px;
}

.myPageProfileTitle {
  display: inline-block;
  width: 45px;
  /* 이름이 제일 긴 비밀번호를 기준으로 함*/
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #777777;

  margin-right: 12px;
  margin-bottom: 19px;
}

.myPageProfileDetail {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #282828;
}

.myPageProfileModifyBox {
  width: 216px;
  height: 30.72px;
  background-color: #fafafa;
  border-radius: 5px;
  border: none;
}

.myPageProfileModifyBox:focus {
  outline: 2px solid #68c9d1;
}
/* .myPageProfileModifyBox:focus {
  outline: none;
} */

.myProfileModifyCancle,
.myProfileModifyFin {
  margin-top: 30px;
  border: none;
  height: 42px;
  width: 80px;
  border-radius: 10px;
  padding: 10px, 64px, 10px, 64px;
}

.myProfileModifyCancle {
  background: #c4e9ec;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #81a8ab;
}

.myProfileModifyFin {
  background: #68c9d1;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;

  margin-left: 8px;
}

.myPageRightChangeBnt {
  height: 42px;
  width: 134px;
  border-radius: 10px;
  padding: 10px, 15px, 10px, 15px;
  background: #68c9d1;
  border-radius: 10px;
  border: none;

  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  color: #ffffff;

  margin-top: 34px;
}

.myPageProfileModifyTag {
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #777777;
  cursor: pointer;

  height: 31px;
  width: 74px;
  line-height: 31px;
  text-align: center;
}

.myPageProfileModifyTagClicked {
  background: #68c9d1;
  color: #fefefe;
  font-size: 14px;
  font-weight: 500;
}

.myPageProfileModifyTagIcon {
  background-color: #89acdd;
}

.myPageProfileModifyTagIconNotChecked {
  display: none;
}

.boxTop,
.myPageListBoxTop {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* background-color: #5c60e1; */
}

.boxTopLeft,
.myPageListBoxTopLeft {
  display: flex;
  /* background-color: #56c4cd; */
}

.boxTopTitle,
.myPageListBoxTopTitle {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  margin-top: 48px;
  /* background-color: #78d6de; */
}

.boxTopTitleT,
.myPageListBoxTopTitleT {
  height: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  align-items: center;
  color: #282828;
}

.boxTopTime,
.myPageListBoxTopTime {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  align-items: flex-end;
  color: #282828;
  margin-left: 17px;
}

.boxSub,
.myPageListBoxSub {
  display: flex;
  margin-top: 24px;
  align-items: center;
  /* background-color: #f3be00; */
}

.boxSubCond,
.myPageListBoxSubCond {
  display: flex;
  margin-left: 55px;
  /* background-color: #68c9d1; */
}

.boxSubCond1,
.myPageListBoxSubCond1 {
  background-color: #e0e0e0;
  border-radius: 10px;
  width: 113px;
  height: 33px;
  color: #8e8e8e;
  font-weight: 700;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
}

.boxSubCond2,
.myPageListBoxSubCond2 {
  background-color: #e0e0e0;
  border-radius: 10px;
  width: 113px;
  height: 33px;
  color: #8e8e8e;
  font-weight: 700;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
  margin-left: 8px;
}

.boxSubHash,
.myPageListBoxSubHash {
  display: flex;
  margin-left: 48px;
  /* background-color: #78de87; */
}

.boxSubHash1,
.boxSubHash2,
.myPageListBoxSubHash1,
.myPageListBoxSubHash2 {
  width: 121px;
  height: 33px;
  border-radius: 30px;
  color: #68c9d1;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 33px;
  background: #ffffff;
  border: 2px solid #68c9d1;
  margin-right: 8px;
}

.boxSubHash3,
.myPageListBoxSubHash3 {
  width: 121px;
  height: 33px;
  border-radius: 30px;
  color: #68c9d1;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 33px;
  background: #ffffff;
  border: 2px solid #68c9d1;
}

.boxBottom,
.myPageListBoxBottom {
  margin-top: 2px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
  /* background-color: #f3be00; */
}

.boxBottomEnd,
.myPageListBoxBottomEnd {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #282828;
  margin-right: 17px;
  /* background-color: #f300b6; */
}

/* myPageSurvey */
.myPageListBox {
  background: #eeeeee;
  border-radius: 20px;
}

.myPageListBoxTopPoint {
  background-color: #f3be00;
  border-radius: 30px;
  color: #fefefe;
  font-weight: 700;
  font-size: 14px;
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  margin-top: 45px;
  margin-right: 18px;
  margin-left: 23.19px;
}

.myPageListBoxTopRight {
  margin-top: 20px;
  margin-right: 23px;
}

.myPageListBoxTopPeople {
  background: #e1605c;
  border-radius: 10px;
  width: 106px;
  height: 37px;
  font-weight: 500;
  font-size: 16px;
  line-height: 37px;
  color: #fefefe;
  align-items: center;
  text-align: center;
}

.myPageListBoxBottom {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  /* background-color: #f3be00; */
}

.myPageListBoxBottomEnd {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #282828;
  margin-right: 23px;
  margin-bottom: 16px;
  /* background-color: #f300b6; */
}

.myPageSurvey {
  width: 100%;
  display: flex;
}

/* myPageCoupon-쿠폰 */
.myPageCoupon {
  background: #eeeeee;
  width: 461px;
  height: 200px;
  display: flex;
  flex-direction: column;
  mask: radial-gradient(circle at right, transparent 24px, #eeeeee 0px);
}

.myPageCouponTitle {
  color: #282828;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  width: 388px;
  height: 27px;
  margin-top: 32px;
  margin-left: 31px;
}

.myPageCouponDate {
  color: #282828;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 388px;
  height: 21px;
  margin-top: 8px;
  margin-left: 31px;
}

.myPageCouponContent {
  color: #777777;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  width: 388px;
  height: 54px;
  margin-top: 24px;
  margin-left: 31px;
}

.myCouponTitle {
  display: flex;
}

.myCouponTitleT {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #282828;
  width: 97px;
  height: 30px;
}

.myCouponNum {
  color: #68c9d1;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  width: 41px;
  height: 30px;
  margin-left: 9px;
}

.myCouponItem {
  margin-top: 24px;
  height: 768px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: #56c4cd; */
}

/* myPage - 공지사항, 자주묻는질문 */
.myPageNotice,
.myPageFaq {
  display: flex;
  flex-direction: column;
}

.noticeTitle,
.faqTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #282828;
}

.noticeContainer,
.faqContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  /* background-color: #a2e3e9; */
}

.noticeItem,
.faqItem {
  display: flex;
  align-items: center;
  height: 80px;
  background: #eeeeee;
  border-radius: 20px;
  margin-bottom: 16px;
  /* background-color: #e1605c; */
}

.noticeItemNum,
.faqItemNum {
  width: 10px;
  /* width: 10%; */
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #777777;
  margin-left: 29.5px;
  margin-right: 40px;
}

.noticeItemContent,
.faqItemContent {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #282828;
  width: 792px;
  /* width: 75%; */
  height: 27px;
  margin-right: 30px;
  /* background-color: #31b4bf; */
}

.noticeItemDate,
.faqItemDate {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #777777;
  width: 72px;
  /* width: 15%; */
  height: 21px;
  margin-right: 29.5px;
}

/* myPage - 포인트 */
.myPoint {
  display: flex;
  flex-direction: column;
  width: 447px;
  height: 117px;
  border-radius: 20px;
  background-color: #eeeeee;
}

.myPointTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 17px;
  margin-left: 33px;
  color: #282828;
}

.myPointContent {
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* background-color: #e1605c; */
}

.myPointContPoint {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #282828;
  margin-left: 29px;
  margin-right: 56px;
}

.myPointContPlusBtn {
  background-color: #68c9d1;
  border-radius: 10px;
  width: 130px;
  height: 42px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  border: none;
  margin-right: 16px;
}

.myPointContShopBtn {
  background: #68c9d1;
  border-radius: 10px;
  width: 89px;
  height: 42px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  border: none;
  margin-right: 32px;
}

.myPointUsage {
  margin-top: 72px;
}

.myPointUsageTitle {
  width: 97px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #777777;
}

.myPointUsageContent {
  display: flex;
  margin-top: 7px;
}

.myPointUsagePlus {
  width: 447px;
  margin-right: 100px;
  /* background-color: aquamarine; */
}

.myPointUsagePlusTitle,
.myPointUsageMinusTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #282828;
}

.myPointUsagePlusDate,
.myPointUsageMinusDate {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-top: 26px;
  color: #777777;
}

.myPointUsagePlusContent,
.myPointUsageMinusContent {
  padding-bottom: 39px;
  /* background-color: #89acdd; */
}

.myPointUsagePlusItem,
.myPointUsageMinusItem {
  display: flex;
  margin-top: 18px;
  align-items: center;
  /* background-color: #f2f8a2; */
}

.myPointUsagePlusItemPoint,
.myPointUsageMinusItemPoint {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  margin-left: 11px;
  margin-right: 8px;
  color: #000000;
}

.myPointUsagePlusItemSum1 {
  width: 82px;
  height: 23px;
  padding: 1px 7px;
  background: #e4ebf5;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-right: 8px;
  color: #89acdd;
}

.myPointUsagePlusItemCont,
.myPointUsageMinusItemCont {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #777777;
}

.myPointUsagePlusItemSum2 {
  padding: 1px 7px;
  width: 69px;
  height: 23px;
  background: #e4f4f5;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #75b6bc;
  margin-right: 8px;
}

.myPointUsageMinus {
  width: 447px;
  /* background-color: aquamarine; */
}

.myPointUsageMinusItemSum1 {
  padding: 1px 7px;
  width: 69px;
  height: 23px;
  background: #ffeaea;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #e68582;
  margin-right: 8px;
}

.myPointUsageMinusItemSum2 {
  padding: 1px 7px;
  width: 69px;
  height: 23px;
  background: #ffefe7;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #f2a57a;
  margin-right: 8px;
}

.mypageListBoxContainer {
  width: 250px;
  height: 320px;
}

.mypageListBox {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #d9d9d9;
}

.mypageListBoxContext {
  display: flex;
  justify-content: space-between;
}

.mypageListBoxTitle {
  margin-top: 10px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
}

.mypageListBoxDueDate {
  margin-top: 10px;
  font-size: 18px;
}

.mypageListBoxBtn {
  margin-top: 10px;
  width: 80px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 10px;
  background-color: #e1605c;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* 내가 쓴 작성글 */

.writeList {
  margin-bottom: 50px;
}

.writeTitle {
  font-size: 30px;
  font-weight: bold;
}

.writeContentsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 900px;
  height: 100px;
  border-radius: 10px;
  background-color: #eeeeee;
  padding-top: 40px;
  padding-left: 50px;
}

.writeContentsTitle {
  font-size: 20px;
  font-weight: bold;
}

.writeContentsDetail {
  font-size: 18px;
  margin-top: 20px;
}

.writeDelete {
  margin-top: 10px;
  margin-right: 50px;
}

/* 채팅 창 */
.chatUserContainer {
  padding: 0 120px 0 120px;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.chatUser {
  display: flex;
}

.chatBtn {
  display: flex;
  margin-top: 10px;
}

.chatUserText {
  height: 80px;
  line-height: 37px;
  margin-left: 30px;
}

.chatUserName {
  font-size: 25px;
  font-weight: bold;
}

.chatUserDetail {
  font-size: 18px;
  font-weight: 400;
}

.chatUserImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #eeeeee;
}

.chatList {
  width: 120px;
  height: 60px;
  background-color: #68c9d1;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.chatUserReport {
  margin-left: 20px;
  width: 120px;
  height: 60px;
  background-color: #e1605c;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.chatSlider {
  width: 83%;
  margin: 20px auto;
  height: 3px;
  background-color: #eeeeee;
}

.chatInputContainer {
  margin: 0 auto;
  width: 83%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border: 5px solid #eeeeee;
  border-radius: 10px;
}

.chatInputText {
  width: 700px;
  line-height: 60px;
  margin-left: 20px;
  border: none;
  font-size: 18px;
  font-family: "Noto Sans KR";
  appearance: none;
  text-decoration: none;
  outline: 0;
}

.chatSubmit {
  margin-top: 10px;
  margin-right: 20px;
  height: 50px;
  width: 100px;
  line-height: 50px;
  background-color: #68c9d1;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.chatUI {
  height: 63vh;
  display: flex;
  flex-direction: column-reverse;
}

.chatTextContainer {
  padding: 0 120px 0 120px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.chatTextUserContainer {
  display: flex;
  flex-direction: row-reverse;
}

.chatTextNotUserContainer {
  display: flex;
}

.chatTextUser {
  text-align: right;
  line-height: 70px;
  padding: 0 20px 0 20px;
  height: 70px;
  border-radius: 10px;
  background-color: #eeeeee;
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

.chatTextUserTime {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 60px;
}

.chatTextNotUser {
  text-align: left;
  line-height: 70px;
  padding: 0 20px 0 20px;
  height: 70px;
  border-radius: 10px;
  background-color: #68c9d1;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

.chatTextNotUserTime {
  color: #68c9d1;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 60px;
}

.modalContentsDateText {
}
